@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

.input-log-signup {
  border-bottom: 1px solid #9ca3af;
  background-color: transparent;
  width: 100%;
}

.modal {
  max-width: 20rem;
  padding: 2rem;
  border: 0;
  border-radius: 0.5rem;
  box-shadow: hsl(0 0% 0% / 10%) 0 0 0.5rem 0.25rem;
  background-color: rgb(31, 41, 55, 0.8);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-modal-container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
